<h1>Showing article details</h1>
<!-- <%  %> estas etiquetas indican a rails que evalue codigo Ruby -->
<!--<%=  %> estas etiquetas indican a rails que evalue codigo Ruby y lo muestre en la vista -->
<p><strong>Title: </strong><%= @article.title %></p>
<p><strong>Description: </strong> <%= @article.description %></p>

<%= link_to "Edit", edit_article_path(@article) %>
<%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to "Return to articles listing", articles_path %>